<html>
<title>AI Games</title>
<head>
<link rel="icon" href="https://www.chess.com/bundles/web/favicons/favicon-32x32.c2a8280d.png">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

{% csrf_token %}

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li id="nav_home" name="navs" class="nav-item">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li id="nav_ttt" name="navs" class="nav-item">
            <a class="nav-link" href="/tictactoe">TicTacToe</a>
          </li>
          <li id="nav_checkers" name="navs" class="nav-item active">
            <a class="nav-link" href="/checkers">Checkers</a>
          </li>
        </ul>
      </div>
    </nav>

<br><br>

<img src="https://wkbaigames.s3.us-east-2.amazonaws.com/crown.png" id="crown" width="100px" hidden/>

<canvas id="myCanvas"></canvas>

<script>

var w = window.innerWidth;
var h = window.innerHeight;
var size = Math.min(w*0.66, h*0.66);
var move_piece = [-1,-1]

// team=1 means user plays black (grey), team=2 means user plays red, black is default
var team = 1;

var my_board = [
  [1,0,1,0,1,0,1,0],
  [0,1,0,1,0,1,0,1],
  [1,0,1,0,1,0,1,0],
  [0,0,0,0,0,0,0,0],
  [0,0,0,0,0,0,0,0],
  [0,3,0,3,0,3,0,3],
  [3,0,3,0,3,0,3,0],
  [0,3,0,3,0,3,0,3]
  ];
var latest_move = "";

var my_canvas = document.getElementById("myCanvas");
my_canvas.onload = checkers_loader();

function checkers_loader() {
  my_canvas.width = size;
  my_canvas.height = size;
  my_canvas.style = "border:1px solid #000000; position:fixed; right: ".concat(((w-size)/2).toString()).concat("; bottom: ").concat(((h-size)/2).toString()).concat(";");
  var ctx = my_canvas.getContext("2d");
  draw_board(ctx, my_board);
  // Add event listener for `click` events.
  my_canvas.addEventListener('click', checkers_click, false);
}

function draw_board(ctx, board) {
  ctx.clearRect(0, 0, my_canvas.width, my_canvas.height);
  for (var i=0; i<8; i++) {
    for (var j=0; j<8; j++) {
      if (j%2 == i%2) {
        ctx.beginPath();
        ctx.fillStyle = "green";
        ctx.rect(size/8*i, size/8*j, size/8, size/8);
        ctx.fill();
        
        if (board[j][i] === 3 || board[j][i] == 4) {
          ctx.beginPath();
          ctx.arc(size/8*i+size/16, size/8*j+size/16, size/20, 0, 2 * Math.PI);
          ctx.fillStyle = "grey";
          ctx.fill();
        }
        if (board[j][i] === 1 || board[j][i] == 2) {
          ctx.beginPath();
          ctx.arc(size/8*i+size/16, size/8*j+size/16, size/20, 0, 2 * Math.PI);
          ctx.fillStyle = "#C70039";
          ctx.fill();          
        }
        if (board[j][i] == 2 || board[j][i] == 4) {
          var img = document.getElementById("crown");
          ctx.drawImage(img, size/8*i+size/50, size/8*j+size/50, size/12, size/12);
        }
      }
    }
  }
}

function checkers_click(event) {
    var ctx = my_canvas.getContext("2d");
    var x = event.pageX - (w-size)/2,
        y = event.pageY - (h-size)/2;
    var click = [Math.floor(y/(size/8)),Math.floor(x/(size/8))];
    if (my_board[click[0]][click[1]] != 0) {
      draw_board(ctx, my_board);
      ctx.beginPath();
      ctx.strokeStyle = "yellow";
      ctx.lineWidth = "6";
      ctx.rect(size/8*click[1], size/8*click[0], size/8, size/8);
      ctx.stroke();    
      move_piece = [click[0],click[1]];
    }
    if (my_board[click[0]][click[1]] === 0 && move_piece[0] != -1) {
      my_board[click[0]][click[1]] =  my_board[move_piece[0]][move_piece[1]];
      my_board[move_piece[0]][move_piece[1]] = 0;
      draw_board(ctx, my_board);
      move_piece = [-1,-1];
      console.log(my_board);
      my_board = get_move(my_board);
      console.log(my_board);
      draw_board(ctx, my_board);
    }
 }

function xhr(my_dict) {
  var my_x_www = "";
  for (var key in my_dict) {
    my_x_www = my_x_www+key+"="+my_dict[key]+"&";
  }
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       // Typical action to be performed when the document is ready:
       latest_move = this.responseText;
    }
  };
  xhttp.open("POST", "/checkers/", false);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send(my_x_www);
}

function get_move(board) {
  var token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
  var board_str = "";
  for (var i=0; i<board.length; i++) {
    for (var j=0; j<board[i].length; j++) {
      board_str = board_str.concat(board[i][j].toString()).concat(",");
    }
  }
  xhr({"csrfmiddlewaretoken":token, "board": board_str});
  latest_move = latest_move.replaceAll(" ","").replaceAll("[","").replaceAll("]","");
  var new_board_l = latest_move.split(",");
  for (i=0; i<new_board_l.length; i++) {
    new_board_l[i] = parseInt(new_board_l[i]);
  }
  var new_board = [];
  for (i=0; i<8; i++) {
    var row = [];
    for (j=0; j<8; j++) {
      row.push(new_board_l[i*8+j]);
    }
    new_board.push(row);
  }
  return new_board;
}
  
</script>

</body>
</html>